.p-footer{
    text-align: center;
    font-size: 16px;
    color: rgb(190, 190, 190);
    padding: 15px 0;
}

footer{
    background-color: rgb(52, 58, 64);
}

.aFooter{
    color: white;
}

.aFooter:hover{
    transform: scale(1.03);
    display: inline-block;
}

/* making the footer stick to the bottom of the page, you need to wrap the rest in a div.page*/

/* html, body {
    height: 100%;
}

body {
display: flex;
flex-direction: column;
}

.page {
flex: 1 0 auto;
}

footer {
flex-shrink: 0;
} */
