* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

:root {
  --background-color-header: rgb(52, 58, 64);
  --background-color-hover: #ddd;
  --background-color-sections: rgb(224, 224, 224);

  --text-color-main: black;
  --text-color-header: white;

  --text-font: Roboto, Arial;
}

/*this is the CSS from Guillem flipping and matching cards code*/
.conteneur {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 10px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  -webkit-backface-visibility: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face-front {
  transform: rotateY(180deg);
}

.disabled,
.matched {
  pointer-events: none;
}


/***************************************************/

nav {
  display: flex;
  justify-content: space-between;
  background-color: #363636;
  padding-left: 0px;
  padding-right: 5px;
  margin-bottom: 0;
  margin: 0;
  list-style-type: none;
  height: 60px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}

li {
  padding: 10px;
}

ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: rgb(248, 242, 242);
}

/*mon timer*/

.timer {
  margin: auto;
  display: inline-block;
  border: solid 1px black;
  padding: 10px;
}
.timersection {
  text-align: center;
  padding: 10px;
  height: 60px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
  position: relative;
  margin: 10px;
  cursor: url(images/high-five.png), pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  -webkit-backface-visibility: hidden;
}

.card img {
  height: 30vw;
  width: 30vw;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face-front {
  transform: rotateY(180deg);
}

.disabled,
.matched {
  pointer-events: none;
}
.conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

<<<<<<< HEAD
=======
.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
  position: relative;
  margin: 10px;
  cursor: url(images/high-five.png), pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  -webkit-backface-visibility: hidden;
}

.card img {
  height: 30vw;
  width: 30vw;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face-front {
  transform: rotateY(180deg);
}

.disabled,
.matched {
  pointer-events: none;
}

>>>>>>> feature-shuffle-cards
/* .jeux img {
  display: block;
  max-width: 30vw;
} */ /*commenté car il n'y a plus d'img dans le doc*/

.jeux .card {
  /* border: solid 1px black; */
  border-radius: 5px;
}
<<<<<<< HEAD

/*ajouts pour l'affichage des cartes*/
.card_face {
  display: block;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  max-width: 30vw;

  border-radius: 5px;
}

.jeuximgfacile {
=======
.conteneur {
>>>>>>> feature-shuffle-cards
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
} */

/*code to turn the cards*/
/*/////////////////////////////////////////////////////////////////////*/

.scene {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid #CCC;

  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_face-front {
  /* background: red; */
}

.card_face-back {
  /* background: blue; */
  transform: rotateY(180deg);
}

/*/////////////////////////////////////////////////////////////////////*/


/*jeux en mode normal*/

.replaysection {
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 50px;
}
.replay {
  cursor: url(images/high-five.png), pointer;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.replay:focus {
  outline: none;
}
.replay:hover {
  cursor: url(images/high-five.png), pointer;
}
