* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color-header: rgb(52, 58, 64);
  --background-color-hover: #ddd;
  --background-color-sections: rgb(224, 224, 224);

  --text-color-main: black;
  --text-color-header: white;

  --text-font: Roboto, Arial;
}
#myLinks {
  display: flex;
  justify-content: flex-end;
}
body div a {
  padding: 20px;
}

section {
  display = flex;
  font-weight: bold;
  margin-top: 10px;
}
section input {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  box-shadow: 2px 2px 2px grey;
}
.rules {
  margin-top: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  box-shadow: 2px 2px 2px grey;
  width: 90%;
  height: 300px;
}

div p {
  font-weight: bold;
}
.Rules {
  font-weight: bold;
}
.easy {
  margin: 10px;
}
.normal {
  margin: 10px;
}
.hard {
  margin: 10px;
}
.button {
  display: flex;
  justify-content: center;
}
.play {
  background-color: var(--background-color-header);
  color: var(--text-color-header);
  padding:5px;
  border-radius: 5px;
  margin-top:25px;

}

.play:hover {
  position: relative;
  top:-3px;
  background-color: var(--background-color-hover);
  color: var(--text-color-main);
  /* border: 1px solid var(--background-color-header); */
  box-shadow: 0 0 3px var(--background-color-header);
}